*{ 
    box-sizing: border-box;
}

body{
    background-color: rgb(10, 0, 67);    
}
header{
    width: 100vw;
    background-color: #0066cc;
    padding: 15px 30px 15px 30px;
    box-shadow: 1px 1px 20px black;
    
}
.insta2{
    display: none;
    font-size: 25px;
    font-weight: 200;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: black;
    margin-right: 30px;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
}
.nome{
    display: none;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cantod{
    display: flex;
    justify-content: end;
}
.subtitulo{
    font-size: 25px;
    font-weight: 200;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: black;
    margin-right: 15px;
    transition: 1s;
    display: flex;
    flex-wrap: wrap;
}
.subtitulo:hover{
    font-size: 25px;
    font-weight: 200;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color:  rgb(35, 2, 247);
    margin-right: 30px;
}
.titulo{
    font-size: 35px;
    font-weight: 500;
    white-space: pre;
    font-family: 'Inter', sans-serif;
}
main{
    height: 100%;
}
.apresent{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 313px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.foto{
    height: 247px;
    width: 247px;
    border-radius: 100%;
    background-image: url(fotofelipe.jpg);
    background-position: center;
    background-size: 100%;
    transition: .3s;
}
.foto:hover{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    background-image: url(lobo.png);
    background-position: center;
    background-size: 100%;
}
.subtexto{
    display: flex;
    max-width: 700px;
    flex-direction: column;
    gap: 1.5em;
}
.subtitulo1{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: #ffffff;
}
.texto{
    font-size: large;
    font-family: 'Inter', sans-serif;
    line-height: 125%;
    justify-content: left;
    color: #ffffff;
}
.card{
    display: flex;
    width: 104px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 1px 1px 20px black;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 2px 2px 15px black;
}
.base1{
    display: flex;
    gap: 10px;
    width: 595px;
    height: 249px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.b{
    display: flex;
    justify-content: start;
}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
    margin-top: 1.5em;
}
.base2{
    display: flex;
    gap: 10px;
    width: 595px;
    height: 249px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;

}
.rodape{
    display: flex;
    width: 100%;
    background-color: #0066cc;
    justify-content: start;
    align-items: center;
    height: 40px;
    position: fixed;
    bottom: 0;
    box-shadow: 1px 1px 20px black;
    
}    
.insta{
    height: 20px;
    width: 20px;
    margin-left: 2rem;
}
.prote{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hobbies{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2em;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 90%;
}
.hobbies h2 {
    font-size: 2.3em;
    color: #ffffff;
}
.listahobbies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.hobbie{
    padding: 1em 0;
    color:#000000;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    width: 5.5em;
    height: 8em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    border-radius: 20%;
}
.elementolista{
    padding: 0.32em 0.5em;

}
.atores{
    display: flex;
    margin-left: 1rem;
}
.section1{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: end;
    flex-wrap: wrap;
    margin-top: 3rem;
}
@media screen and (max-width: 1300px) {
    .hobbies{
        align-items: flex-start;
    }
    .titulo{
        display: none;
    }
    .nome{
        font-size: 20px;
        font-weight: 600;
        
        font-family: 'Inter', sans-serif;
        display: inline-block;
    }
    .apresent{
        max-width: 100%;
        flex-direction: column;
        margin-top: 5rem;
        align-content: center;
        align-items: center;
        
    }
        
    .hobbies{
        justify-content: start;
        margin-left: 1rem;
}
}
@media screen and (max-width: 1090px) {
    .rodape{
        display: none;
    }
    .insta2{
        display: block;
    }
}
@media screen and (max-width: 780px){
    .subtexto{
        max-width: 90%;
    }
    .a{
        margin-top: 2.5em;
    }
    .foto{
        width: 150px ;
        height: 150px ;
    }
}
@media screen and (max-width: 580px){
    .subtitulo{
        font-size: 20px;
    }
    .subtexto{
        
        max-width: 70%;
    }
    .texto{
        font-size: 1em;
    }
    .a{
        max-width: 50%;
        margin-top: 2.5em;
        gap: 1em;
    }
    .foto{
        width: 100px ;
        height: 100px ;
    
    
    }
    .insta2{
        font-size: 20px;
    }
}